@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'SF Pro Display',
      'Helvetica Neue', Helvetica, Arial, 'Segoe UI', Roboto, 'Noto Sans', 'Liberation Sans', sans-serif;

    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-48: 3rem;

    --lh-default: 1.5;
  }

  html {
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body,
  button,
  input,
  textarea {
    font-family: inherit;
    font-weight: 400;
    line-height: var(--lh-default);
  }

  h1,
  h2,
  h3 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
  }

  h1 {
    font-size: var(--fs-48);
    letter-spacing: 0.005em;
  }

  h2 {
    font-size: var(--fs-32);
    letter-spacing: 0.005em;
  }

  h3 {
    font-size: var(--fs-24);
  }

  @media (prefers-color-scheme: dark) {
    h1,
    h2,
    h3 {
      font-weight: 600;
    }
  }

  @supports (-ms-ime-align: auto) or (font-variation-settings: normal) {
    h1,
    h2 {
      letter-spacing: 0.01em;
    }
  }
}
